.scembed-container {
	position: relative;
	perspective: 800px;
	cursor: pointer;
	margin-top: 25px; /*FOR TESTING*/
}

/*! Single Game Frontside */
.scembed-player,
.scembed-game {
	width: 320px;
	height: 100px;
	font-family: 'bentonsans', sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #FFF;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
}
.scembed-game-summary {
	height: 100px;
	position: relative;
	right: 0;
	bottom: 0;
}
.scembed-scoretable {
	border-spacing: 0px;
	float: left;
	margin: 15px;
	vertical-align: middle;
	width: 195px;
}
.scembed-scoretable tr {
	height: 35px;
}
.scembed-scoretable-away-logo-img,
.scembed-scoretable-home-logo-img {
	height: 30px;
	width: 30px;
}
.scembed-scoretable-home-score,
.scembed-scoretable-away-score {
	color: #999;
	font-size: 15px;
	text-align: right;
}
.scembed-gamestatus {
	box-sizing: border-box;
	float: right;
	height: 80px;
	width: 95px;
	border-left: 1px solid #DDD;
	margin-top: 10px;
	padding: 17px 0px 17px 15px;
}
.scembed-gamestatus > div {
	font-size: 10px;
	line-height: 12px;
	margin: 3px 0;
}
.scembed-gamestatus-line1 {
	font-family: 'bentonsansbold';
}
.scembed-sc-logo {
	background-image: url(sc-logo-gray.png);
	height: 20px;
	width: 30px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

/*! Single Game Backside */
.scembed-line-score {
	width: 321px;
}
.scembed-line-score-table {
	font-size: 12px;
	float:left;
	vertical-align: middle;
	margin: 15px;
}
.scembed-line-score-table tr {
	height: 21px;
}
.scembed-line-score-table tr td {
	min-width: 14px;
	text-align: center;
}
.scembed-line-score-row.scembed-periods td {
	font-family: 'bentonsansbold';
}
.scembed-line-score-table tr td.scembed-line-score-team-abbrev {
	text-align: left;
	padding-right: 6px;
	max-width: 74px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.scembed-links {
	box-sizing: border-box;
	float: right;
	height: 80px;
	width: 135px;
	border-left: 1px solid #DDD;
	margin-top: 10px;
	padding: 17px 0px 17px 15px;
}
.scembed-links > a {
	display: block;
	width: 0px;
	height: 28px;
	font-size: 14px;
	color: #2880d9;
	text-decoration: none;
}
.scembed-link-share {
	background-image: url(share.png);
	height: 17px;
	width: 24px;
	position: absolute;
	right: 24px;
	bottom: 43px;
}


/*! PLAYERCARD */
.scembed-player .scembed-front {
	height: 100px;
	width: 320px;
}
.scembed-player-topline {
	height: 7px;
	width: 100%;
	background-color: #00295b;
}
.scembed-player-mug {
	width: 100px;
	background-image: url(http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/5209.png&h=100&w=130);
	background-position-x: 80%;
	height: 93px;
	float: left;
}
.scembed-player-team-logo {
	float: left;
	height: 40px;
	width: 40px;
	margin-top: -5px;
	background-image: url(dal.png);
}
.scembed-player-info {
	width: 200px;
	height: 40px;
	margin-left: 100px;
	margin-top: 10px;
	border-bottom: 1px solid #DDD;
}
.scembed-player-team-name {
	float: left;
	font-size: 12px;
}
.scembed-player-name-container {
	float: left;
}
.scembed-player-name {
	font-family: 'bentonsansbold';
}
.scembed-player-number,
.scembed-player-position {
	font-size: 12px;
	font-family: 'bentonsansbold';
	color: #999;
}
.scembed-player-stat-summary {
	font-size: 12px;
	width: 200px;
	text-align: center;
}
.scembed-player-stat-labels {
	font-family: 'bentonsansbold';
}
.scembed-stat-label {

}
.scembed-stat-val {

}


/*! 3D FLIP */
.scembed-player,
.scembed-game {
	-webkit-transform: perspective(2200px) translateZ(0);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: ease;
	-webkit-transform-style: preserve-3d;
}
.scembed-player.flipped,
.scembed-game.flipped {
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.15);
	-webkit-transform: rotateY(180deg) !important;
}
.scembed-front,
.scembed-back {
	position: absolute;
	-webkit-backface-visibility: hidden;
}
.scembed-back {
	-webkit-transform: rotateY(180deg);
}
.scembed-front {
	-webkit-transform: rotateY(0deg);
}
.scembed-player:hover,
.scembed-game:hover{
	-webkit-transform: perspective(2200px) rotateY(15deg);
}
.scembed-shadow {
	background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.01) 100%);
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease;
}
.scembed-player:hover .scembed-shadow,
.scembed-game:hover .scembed-shadow {
	opacity: 1;
}


/*! Games List */
/*! SC Header */
.scembed-header {
	width: 320px;
	height: 70px;
	font-family: 'bentonsans', sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	/*box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);*/
}
.scembed-sc-header-logo {
	box-sizing: border-box;
	height: 50px;
	width: 85px;
	border-right: 1px solid #DDD;
	margin: 10px;
	float: left;
}
.scembed-sc-header-logo .sc-logo {
	background-image: url(sc-scores-lockup.png);
	height: 42px;
	width: 47px;
	margin: 5px 0 0 16px;
}
.scembed-header-title {
	line-height: 70px;
	font-size: 18px;
	padding-left: 5px;
	float: left;
}
.scembed-games-list-container {
	height: 436px;
	width: 320px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
}
.scembed-games-list {
	width: 320px;
	max-height: 360px;
	overflow-y: scroll;
}
.scembed-games-list::-webkit-scrollbar {
	width: 0px;
}
.dummy-placeholder {
	width: 320px;
	float: left;
	height: 100px;
	border-bottom: 1px solid #000;
	background-color: pink;
}



/*! Big Single Game*/
.scembed-sc-header-back {

}
.scembed-game-big {
	font-family: 'bentonsans', sans-serif;
	height: 360px;
}
.scembed-game-big > div {
	box-sizing: border-box;
}
.scembed-game-big-teams {
	height: 40px;
	width: 100%;
}
.scembed-game-big-team-name {
	box-sizing: border-box;
	float: left;
	width: 50%;
	height: 100%;
	padding-top: 12px;
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}
.scembed-game-big-away-team-name {
	background-color: #224970;
}
.scembed-game-big-home-team-name {
	background-color: #052570;
}
.scembed-game-big-score {
	width: 300px;
	margin-left: 10px;
	height: 65px;
}
.scembed-game-big-score > table {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	text-align: center;
	vertical-algin: middle;
	border-bottom: 1px solid #DDD;
}
.scembed-game-big-team-logo > img {
	width: 50px;
	padding-top: 5px;
}
.scembed-game-big-away-team-logo {
	text-align: left;
}
.scembed-game-big-home-team-logo {
	text-align: right;
}
.scembed-game-big-team-score {
	font-size: 33px;
	font-family: 'bentonsansbold';
}
.scembed-game-big-line-score {
	height: 100px;
	width: 300px;
	margin-left: 10px;
	border-bottom: 1px solid #DDD;
}
.scembed-game-big-game-status {
	color: #999;
	font-size: 14px;
	font-family: 'bentonsansbold';
}
.scembed-game-big-line-score-container .scembed-line-score-table {
	margin: 15px 15px 15px 0;
}
.scembed-line-score-row.scembed-periods {
	
}
.scembed-line-score-row {
	
}
.scembed-line-score-team-abbrev {
	
}
.scembed-line-score-row {
	
}
.scembed-line-score-team-abbrev {
	
}
.scembed-game-big-status {
	box-sizing: border-box;
	float: right;
	width: 130px;
	height: 60px;
	padding: 0px 5px 5px 10px;
	border-left: 1px solid #DDD;
	margin-top: 20px;
	font-size: 12px;
	color: #999;
}
.scembed-game-big-date {
	padding-bottom: 13px;
}
.scembed-game-big-location {
	
}
.scembed-top-performers {
	width: 100%;
	font-size: 12px;
	line-height: 17px;
	padding: 20px 10px;
}
.scembed-top-peformers-title {
	font-family: 'bentonsansbold';
	text-transform: uppercase;
}
.scembed-performer {
	max-width: 300px;
	white-sapce: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.scembed-recap-stats-container {
	height: 50px;
	width: 100%;
}	
.scembed-bottom-btn {
	width: 50%;
	height: 100%;
	text-align: center;
	float: left;
	color: #FFF;
	font-family: 'bentonsansmedium';
	font-size: 19px;
	box-sizing: border-box;
	padding-top: 12px;
}
.scembed-recap-btn {
	background-image: -webkit-linear-gradient(top, #2970c8, #225fb8);
}
.scembed-stats-btn {
	background-image: -webkit-linear-gradient(top, #8b8f9a, #777b86);
}

.scembed-soccer .scembed-nfl-details {
	display: none;
}
.scembed-football .scembed-soccer-details {
	display: none;
}
/* Soccer Table */
.scembed-match-stats-header {
	box-sizing: border-box;
	width: 300px;
	height: 30px;
	margin-left: 10px;
	border-bottom: 1px solid #DDD;
	text-align: center;
	font-family: 'bentonsansbold';
	text-transform: uppercase;
	font-size: 13px;
	padding-top: 7px;
}
.scembed-match-stats-table {
	width: 100%;
	font-size: 12px;
	vertical-align: middle;
	border-collapse: collapse;
	table-layout: fixed;
}
.scembed-match-stats-table tr {
	height: 30px;
}
.scembed-match-stats-table tr:nth-child(even) {
	background-color: #f8f8f8;
}
.scembed-stat-title {
	text-align: left;
	font-family: 'bentonsansbold';
	padding-left: 30px;
}
th.scembed-match-stats-row {
	font-family: 'bentonsansbold';
	font-weight: normal;
}
.scembed-stat-home-val, 
.scembed-stat-away-val {
	text-align: center;
	width: 60px;
}
.scembed-match-stats-row {

}
