body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.scembed-container {
	position: relative;
	perspective: 800px;
	cursor: pointer;
	margin: 25px 0; /*FOR TESTING*/
}

.scembed-container a {
	text-decoration: none;
}

/*! Single Game Frontside */
.scembed-player,
.scembed-game {
	width: 320px;
	height: 100px;
	font-family: 'bentonsansmedium', sans-serif;
	font-size: 16px;
	color: #333;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
}
.scembed-player.scembed-player-large,
.scembed-game.scembed-game-large {
	width: 500px;
}
.scembed-front, .scembed-back {
	background-color: #FFF;

}
.scembed-game-summary {
	height: 100px;
	position: relative;
	right: 0;
	bottom: 0;
}
.scembed-scoretable {
	border-spacing: 0px;
	float: left;
	margin: 15px 4%; /*15px;*/
	vertical-align: middle;
	width: 61%; /*width: 195px;*/
}
.scembed-scoretable tr {
	height: 35px;
}
.scembed-scoretable td {
	max-width: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td.scembed-scoretable-awaylogo,
td.scembed-scoretable-homelogo {
	width: 21%
}
.scembed-scoretable-away-logo-img,
.scembed-scoretable-home-logo-img {
	height: 30px;
	width: 30px;
}
.scembed-scoretable-home-score,
.scembed-scoretable-away-score {
	color: #333;
	font-size: 15px;
	text-align: right;
}
.scembed-gamestatus {
	box-sizing: border-box;
	float: right;
	height: 80px;
	width: 29%;
	border-left: 1px solid #DDD;
	margin-top: 10px;
	padding: 17px 5px 17px 15px;
	padding-left: 4%;
}
.scembed-gamestatus > div {
	font-size: 12px;
	line-height: 12px;
	margin: 3px 0;
	font-family: 'bentonsans';
}
.scembed-gamestatus-line1 {
	font-family: 'bentonsansmedium'!important;
}
.scembed-sc-logo {
	background-image: url(sc-logo-gray.png);
	height: 20px;
	width: 30px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.scembed-line-score-table tr {
	font-family: 'bentonsans';	
}
.scembed-links a:hover,
a:visited{
	color:#71a5d8
}



/*! Single Game Backside */
.scembed-line-score {
	/*width: 321px;*/
}
.scembed-line-score-table {
	width: 40%;
	font-size: 12px;
	float: left;
	vertical-align: middle;
	margin: 15px 4%;
}
.scembed-line-score-table tr {
	height: 21px;
}
.scembed-line-score-table tr td {
	min-width: 14px;
	text-align: center;
}
.scembed-line-score-row.scembed-periods td {
	font-family: 'bentonsansbold';
}
.scembed-line-score-table tr td.scembed-line-score-team-abbrev {
	text-align: left;
	padding-right: 6px;
	max-width: 74px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.scembed-links {
	box-sizing: border-box;
	float: right;
	height: 80px;
	width: 42%;
	border-left: 1px solid #DDD;
	margin-top: 10px;
	padding: 17px 0px 17px 4%;
}
.scembed-links > a {
	display: block;
	width: 0px;
	height: 28px;
	font-size: 14px;
	color: #2880d9;
	text-decoration: none;
}
.scembed-link-share {
	background-image: url(share.png);
	height: 17px;
	width: 24px;
	position: absolute;
	right: 24px;
	bottom: 43px;
}
.scembed-player-stat-vals{
	font-family: 'bentonsans';
}
.scembed-link-share:hover{
	background-image: url(share-hover.png);
}


/*! PLAYERCARD */
.scembed-player .scembed-front {
	height: 100%; /*100px*/
	width: 100%;
}
.scembed-player-topline {
	height: 7px;
	width: 100%;
	background-color: #00295b;
}
.scembed-player-mug {
	width: 100px;
	background-image: url(http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/5209.png&h=100&w=130);
	background-position-x: 80%;
	height: 93px;
	float: left;
}
.scembed-player-team-logo {
	float: left;
	height: 40px;
	width: 40px;
	margin-top: -5px;
	background-image: url(dal.png);
}
.scembed-player-info {
	width: 62%;
	height: 40px;
	margin-left: 31%;
	margin-top: 10px;
	/*border-bottom: 1px solid #DDD;*/
}
.scembed-player-team-name {
	font-size: 12px;
	margin-left: 23%;
}
.scembed-player-name-container {
	margin-left: 23%;
}
.scembed-player-name {
	font-family: 'bentonsansbold';
}
.scembed-player-number,
.scembed-player-position {
	font-size: 12px;
	font-family: 'bentonsansbold';
	color: #999;
}
.scembed-player-stat-summary {
	font-size: 12px;
	width: 62%;
	text-align: center;
	margin-left: 31%;
	border-top: 1px solid #DDD;
}
.scembed-player-stat-labels {
	font-family: 'bentonsansbold';
}
.scembed-player .scembed-back {
	width: 100%;
	font-size: 11px;
	font-weight: normal;
	font-family: 'bentonsans';
}
.scembed-player .scembed-back table {
	font-size: 11px;
	padding: 10px 1% 0 1%;
	float: left;
	width: 80%;
}
.scembed-player .scembed-back table tr td:first-of-type {
	width: 10%;
}
.scembed-player .scembed-back .scembed-playercard-links {
	width: 20%;
	height: 55px;
	float: right;
	font-size: 10px;
	color: #2880D9 !important;
	font-family: 'bentonsans', sans-serif;
	border-left: 1px solid #DDD;
	margin-top: 19px;
	padding-top: 10px;
	text-align: center;
	box-sizing: border-box;
}
.scembed-player .scembed-back .scembed-playercard-links a {
	text-decoration: none;
}
.scembed-stat-label {

}
.scembed-stat-val {

}


/*! 3D FLIP */
.scembed-player,
.scembed-game {
	-webkit-transform: perspective(2200px) translateZ(0);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: ease;
	-webkit-transform-style: preserve-3d;
}
.scembed-player.flipped,
.scembed-game.flipped {
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.15);
	-webkit-transform: rotateY(180deg) !important;
}
.scembed-front,
.scembed-back {
	position: absolute;
	-webkit-backface-visibility: hidden;

}
.scembed-back {
	-webkit-transform: rotateY(180deg) translateZ(0);
	width: 100%;
}
.scembed-front {
	-webkit-transform: rotateY(0deg) translateZ(0);
	width: 100%;
}
.scembed-player:hover,
div:not(.scembed-games-list-container) .scembed-game:hover {
	-webkit-transform: perspective(2200px) rotateY(15deg);
}
.scembed-shadow {
	background: rgba(0, 0, 0, 0.03);
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease;
}
.scembed-player:hover .scembed-shadow,
.scembed-game:hover .scembed-shadow {
	opacity: 1;
}


/*! Games List */
/*! SC Header */
.scembed-games-list-container .scembed-sc-logo {
	display: none;
}
.scembed-header {
	width: 320px;
	height: 70px;
	font-family: 'bentonsans', sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	/*box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);*/
}
.scembed-sc-header-logo {
	box-sizing: border-box;
	height: 50px;
	width: 85px;
	border-right: 1px solid #DDD;
	margin: 10px;
	float: left;
}
.scembed-sc-header-logo .sc-logo {
	background-image: url(sc-scores-lockup.png);
	height: 42px;
	width: 47px;
	margin: 5px 0 0 16px;
}
.scembed-header-title {
	line-height: 70px;
	font-size: 18px;
	padding-left: 5px;
	float: left;
}
.scembed-games-list-container {
	height: 436px;
	width: 320px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
}
.scembed-games-list {
	width: 320px;
	max-height: 360px;
	overflow-y: scroll;
	overflow-x: hidden;
}
/*.scembed-games-list::-webkit-scrollbar {
	width: 0px;
}*/
.dummy-placeholder {
	width: 320px;
	float: left;
	height: 100px;
	border-bottom: 1px solid #e9e9e9;
}

.scembed-games-list .first {
	border-top: 1px solid #e9e9e9;
}




/*! Big Single Game*/
.scembed-sc-header-back {

}
.scembed-game-big {
	font-family: 'bentonsans', sans-serif;
	background-color: #FFF;
	height: 360px;
}
.scembed-game-big > div {
	box-sizing: border-box;
}
.scembed-game-big-teams {
	height: 40px;
	width: 100%;
}
/*.scembed-game-big-teams-table {
	text-align: center;
	vertical-align: middle;
	height: 40px;
	width: 100%;
	table-layout: fixed;
}
.scembed-game-big-teams-table tr td {
	width: 50%;
}*/
.scembed-game-big-team-name {
	box-sizing: border-box;
	float: left;
	width: 50%;
	height: 100%;
	padding-top: 12px;
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	font-family:'bentonsansmedium';
	max-width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.scembed-game-big-away-team-name {
	background-color: #224970;
}
.scembed-game-big-home-team-name {
	background-color: #052570;
}
.scembed-game-big-score {
	width: 300px;
	margin-left: 10px;
	height: 65px;
}
.scembed-game-big-score > table {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	text-align: center;
	vertical-algin: middle;
	border-bottom: 1px solid #DDD;
}
.scembed-game-big-team-logo > img {
	width: 50px;
	padding-top: 5px;
}
.scembed-game-big-away-team-logo {
	text-align: left;
}
.scembed-game-big-home-team-logo {
	text-align: right;
}
.scembed-game-big-team-score {
	font-size: 33px;
	font-family: 'bentonsansbold';
}
.scembed-game-big-line-score {
	height: 100px;
	width: 300px;
	margin-left: 10px;
	border-bottom: 1px solid #DDD;
}
.scembed-game-big-game-status {
	color: #999;
	font-size: 14px;
	font-family: 'bentonsansbold';
}
.scembed-game-big-line-score-container .scembed-line-score-table {
	margin: 15px 15px 15px 0;
}
.scembed-line-score-row.scembed-periods {
	
}
.scembed-line-score-row {
	
}
.scembed-line-score-team-abbrev {
	
}
.scembed-line-score-row {
	
}
.scembed-line-score-team-abbrev {
	
}
.scembed-game-big-status {
	box-sizing: border-box;
	float: right;
	width: 130px;
	height: 60px;
	padding: 0px 5px 5px 10px;
	border-left: 1px solid #DDD;
	margin-top: 20px;
	font-size: 12px;
	color: #999;
}
.scembed-game-big-date {
	padding-bottom: 13px;
}
.scembed-game-big-location {
	
}
.scembed-top-performers {
	width: 100%;
	font-size: 12px;
	line-height: 17px;
	padding: 20px 10px;
}
.scembed-top-peformers-title {
	font-family: 'bentonsansbold';
	text-transform: uppercase;
}
.scembed-performer {
	max-width: 300px;
	white-sapce: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.scembed-recap-stats-container {
	height: 51px;
	width: 100%;
}	
.scembed-bottom-btn {
	width: 50%;
	height: 100%;
	text-align: center;
	float: left;
	color: #FFF !important;
	font-family: 'bentonsansmedium';
	font-size: 16px;
	box-sizing: border-box;
	line-height: 50px;
}
.scembed-recap-btn {
	background-image: -webkit-linear-gradient(top, #2970c8, #225fb8);
}
.scembed-stats-btn {
	background-image: -webkit-linear-gradient(top, #8b8f9a, #777b86);
}

.scembed-recap-btn:hover {

	background-image: -webkit-linear-gradient(top, #295ea0, #1e55a5);




}
.scembed-stats-btn:hover {

	background-image: -webkit-linear-gradient(top, #747881, #777b86);



}


/* Soccer Table */
.scembed-match-stats-header {
	box-sizing: border-box;
	width: 300px;
	height: 30px;
	margin-left: 10px;
	border-bottom: 1px solid #DDD;
	text-align: center;
	font-family: 'bentonsansbold';
	text-transform: uppercase;
	font-size: 13px;
	padding-top: 7px;
}
.scembed-match-stats-table {
	width: 100%;
	font-size: 12px;
	vertical-align: middle;
	border-collapse: collapse;
	table-layout: fixed;
}
.scembed-match-stats-table tr {
	height: 30px;
}
.scembed-match-stats-table tr:nth-child(even) {
	background-color: #f8f8f8;
}
.scembed-stat-title {
	text-align: left;
	font-family: 'bentonsansbold';
	padding-left: 30px;
}
th.scembed-match-stats-row {
	font-family: 'bentonsansbold';
	font-weight: normal;
}
.scembed-stat-home-val, 
.scembed-stat-away-val {
	text-align: center;
	width: 60px;
}
.scembed-match-stats-row {

}
.scembed-sc-header-back {
	height: 100%;
	padding: 25px 25px 25px 20px;
	box-sizing: border-box;
}
.scembed-sc-header-back > img {
	float: left;
}
.scembed-back-text {
	text-transform: uppercase;
	font-size: 13px;
	margin-top: 1px;
	margin-left: 20px;
}



/*! FADE TRANSITION */
.scembed-lateral-transition-container {
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
	width: 320px;
	height: 436px;
	overflow:hidden;
}
.scembed-lateral-transition-controller {
	width: 640px;
	height: 436px;
	overflow: hidden;
	-webkit-transform: translateX(0px);
	-webkit-transition: -webkit-transform 400ms ease-in-out;
}
.scembed-lateral-transition-controller.shiftRight {
	-webkit-transform: translateX(-320px);
}
.scembed-lateral-transition-controller > .scembed-container {
	float: left;
	margin: 0;
	box-shadow: none;
}
.scembed-lateral-transition-controller > .scembed-container {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out; /*fade in is slower*/
}
.scembed-lateral-transition-controller.shiftRight > .scembed-container.left,
.scembed-lateral-transition-controller:not(.shiftRight) > .scembed-container.right {
	opacity: 0;
	-webkit-transition: opacity 250ms ease-out; /*fade out*/
}
.scembed-lateral-transition-controller > .scembed-container .scembed-header .scembed-sc-header-back { 
	-webkit-transform: translateX(70px);
	-webkit-transition: -webkit-transform 300ms ease-in-out 100ms;
}
.scembed-lateral-transition-controller.shiftRight > .scembed-container.right .scembed-sc-header-back {
	-webkit-transform: translateX(0px);
	-webkit-transition: -webkit-transform 300ms ease-in-out 100ms;
	
	
}



/* SCORECARD-LARGE */
/*.scembed-game-large{
	font-size:22px;
}*/
/*.scembed-game-large .scembed-scoretable{
	margin:14px 4%;
}
*/

/*.scembed-game-large .scembed-scoretable-away-logo-img, .scembed-scoretable-home-logo-img {	
	height: 50px;
	width: 50px;	
}*/

/*! WIDE CARDS */
.scembed-game-large .scembed-scoretable-away-logo-img,
.scembed-game-large .scembed-scoretable-home-logo-img {
	height: 40px;
	width: 40px;
	margin-top: -10px;
	position: relative;
	top: 3px;
	padding-right: 9px;
}
.scembed-game-summary .scembed-game-story {
	display: none;
}
.scembed-game-large .scembed-game-summary .scembed-game-story {
	display: block;
}
.scembed-game-large .scembed-scoretable {
	width:41%;
	margin: 15px 2%;
}
.scembed-game-large .scembed-gamestatus {
	float: left;
	width: 18%;
}
.scembed-game-large .scembed-game-story {
	float: left;
	width: 37%;
	font-size: 13px;
	font-family: 'bentonsansmedium';
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 24px;
	box-sizing: border-box;
	height: 100%;
	border-left: 1px solid #DDD;
	background-color: #EEE;
}
.scembed-player-large .scembed-player-story > a:visited,
.scembed-player-large .scembed-player-story > a,
.scembed-game-large .scembed-game-story > a:visited,
.scembed-game-large .scembed-game-story > a { 
	color: #5395F3;
}

.scembed-player-large {
	height: 150px;
}

.scembed-player-large .scembed-player-info {
	width: 52%;
	margin-left: 24%;
	margin-top: 29px;
}
.scembed-player-large .scembed-player-stat-summary {
	width: 35%;
}
.scembed-player-large .scembed-player-mug {
	width: 136px;
	background-image: url(http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/5209.png&h=150&w=195);
	background-position-x: 80%;
	height: 143px;
	float: left;

}
.scembed-player-large .scembed-player-story {
	height: 143px;
	width: 167px;
	float: right;
	margin-top: -112px;
	background-color: #EEE;
	font-size: 13px;
	font-family: 'bentonsansmedium';
	padding: 30px 10px 10px 18px;
	box-sizing: border-box;
	padding-top: 31px;
	border-left: 1px solid #DDD;
}
.scembed-player-story {
	display: none;
}
.scembed-player-large .scembed-player-story {
	display: block;
}
.scembed-player:not(.scembed-player-large) .scembed-sc-logo {
	display: none;
}
.scembed-player.scembed-player-large .scembed-back table {
	font-size: 13px;
	padding-top: 25px;
	width: 75%;
}
.scembed-player.scembed-player-large .scembed-back .scembed-playercard-links {
	width: 25%;
	height: 100px;
	font-size: 14px;
	font-family: 'bentonsansmedium';
	padding: 29px 10px 10px 10px;
}